@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
:root {
    --material-icons-color: black;
    --field-color: gray;
    --field-background: white;
    --field-background-hover: #eee;
    --input-background: #eee;
    --overlay-background: rgba(245, 158, 114, 0.8);
    --overlay-caption-color: #eb4a40;
    --overlay-content-background: linear-gradient(white, #fde0c5);

    --header-background: linear-gradient(to right, #eb4a40, #f59e72);
    --main-panel-background: linear-gradient(white, #fde0c5);
    --online-users-panel-background: linear-gradient(to right, #fde0c5, #facba6);
    --chat-panel-background: none;

    --title-color: white;
    --caption-color: white;

    --font-color: black;
    --date-color: gray;

    --signin-form-background: #fde0c5;
    --register-form-background: linear-gradient(#fde0c5, #facba6);
    --warning-color: red;

    --button-color: white;
    --button-background: #f2855d;
    --button-background-hover: #f8b58b;
}
* {
    font-family: "Abel", sans-serif;
    color: var(--font-color);
    box-sizing: border-box;
}

/* Basic */
body {
    min-width: 500px;
    min-height: 200px;
    height: 100vh;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 70px;
}
.center { text-align: center; }
.shadow { box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4); }

/* Google icon */
.material-icons {
    color: var(--material-icons-color);
}

/* Flexbox related */
.row, .col {
    display: flex;
    /* align-items: center;
    justify-content: space-around; */
    gap: 10px;
    padding: 20px;
}
.col { flex-direction: column; }
.spacer-0 { width: 0; height: 0; }
.spacer-1 { width: 5px; height: 5px; }
.spacer-2 { width: 10px; height: 10px; }
.spacer-3 { width: 15px; height: 15px; }
.spacer-4 { width: 20px; height: 20px; }
.spacer-grow { flex-grow: 1; }

/* Overlay */
.overlay {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: var(--overlay-background);
}
.overlay .caption {
    font-size: 120%;
    color: var(--overlay-caption-color);
}
.overlay .content {
    background: var(--overlay-content-background);
}
.warning {
    font-weight: bold;
    color: var(--warning-color);
}

/* Form related */
form input, form select {
    width: 100%;
}
input, select {
    font-size: 1rem;
    background: var(--input-background);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}
input::placeholder, select {
    color: gray;
}
button {
    font-weight: bold;
    height: 40px;
    border: 1px solid black;
    border-radius: 15px;
    color: var(--button-color);
    background: var(--button-background);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
    padding: 0 20px;
    transition: 1s background;
    cursor: pointer;
}
button:hover {
    background: var(--button-background-hover);
}
button:active {
    margin: 2px -2px -2px 2px;
    box-shadow: 0px 0px;
}
button.icon {
    height: inherit;
    border: none;
    border-radius: 2px;
    background: none;
    box-shadow: none;
    padding: 3px 5px;
    padding-top: 5px;
}
button.icon * {
    color: white;
}
button.icon:hover {
    background: var(--button-background-hover);
}
button.icon:active {
    margin: 2px -2px -2px 2px;
}
button.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Data field caption and content */
.field-content {
    border-radius: 50px;
    padding: 10px 15px;
    background: var(--field-background);
    transition: 1s background;
}
.field-content * {
    color: var(--field-color);
}
.field-content:hover {
    background: var(--field-background-hover);
}
.user-name {
    white-space: nowrap;
}

/* Top level container */
#page-container {
    align-items: stretch;
    gap: 0px;
    width: 1000px;
    height: 800px;
    padding: 0;
}

/* Header */
#header {
    height: 80px;
    background: var(--header-background);
    padding: 0 20px;
}
#title {
    font-family: Abel, sans-serif;
    font-size: 300%;
    text-transform: uppercase;
    color: var(--title-color);
    user-select: none;
}
#title .material-icons {
    color: var(--title-color);
    font-size: 36px;
}
#user-panel {
    padding: 0;
}
#signin-user {
    cursor: pointer;
}

/* start page */
#front-page {
    align-items: center;
    justify-content: space-around;
}
#signin-form {
    width: 300px;
    background: var(--signin-form-background);
}
#register-form {
    width: 300px;
    background: var(--register-form-background);
    padding: 20px;
}
.two-button-set {
    align-items: center;
    justify-content: center;
}
#button-to-instruction {
    width: 200px;
    align-self: flex-start;
}

/* instruction page */
.instruction-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90vh;
    background: var(--overlay-content-background);
    opacity: 1;
    border-radius: 30px;
    /* overflow: auto; */
}

.instruction-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
}

.instruction-title {
    font-size: 100px;
    margin-bottom: 20px;
}

.instruction-content {
    /* position: absolute; */
    /* top: 150px; */
    width: 90%;
    height: 90%;
    overflow-y: scroll;
}

/* lobby page */
#lobby-header {
    height: 20%;
    justify-content: space-between;
}
#lobby-main {
    height: 80%;
    align-items: stretch;
}

#lobby-players-list {
    background: var(--main-panel-background);
	border: 2px solid var(--overlay-caption-color);
	border-radius: 2vmin;
	box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

#lobby-self-stats {
    background: var(--main-panel-background);
	border: 2px solid var(--overlay-caption-color);
	border-radius: 2vmin;
	box-sizing: border-box;
    padding: 20px 40px;
    width: 100%;
    height: 100%;
    align-items: stretch;
    justify-content: space-between;
}

.lobby-stats-box {
    justify-content: space-between;
    padding: 5px;
}

#lobby-join-game {
    align-self: flex-end;
}

/* play page */
#game-play-page {

}

#main-playground {
	/* position: relative; */
	width: 100%;
	height: 100%;
    box-sizing: border-box;
}

.play-area-container {
	/* display: block;
	position: relative;
	top: 5vmin;
	left: 5vmin; */
    width: 80vw;
    height: 90vh;
}

.player-stat-container {
	/* display: block;
	position: relative;
	top: 5vmin;
	right: 5vmin; */
	width: 20vw;
	height: 90vh;
	/* font-size: 90%; */
	text-align: left;
	background: rgb(238, 238, 238);
	color: black;
	text-decoration:none;
	border: 1vmin solid rgb(96, 96, 96);
	border-radius: 2vmin;
	box-sizing: border-box;
    justify-content: space-between;
}

#player-info, #game-play-time {
	/* margin: 3vh 0; */
	text-align: center;
    font-weight: bold;
}

#player-game-stats {
    /* align-items: stretch; */
}

.player-game-stats-box {
    justify-content: space-between;
    padding: 2px;
}

#player-num-bomb, #player-num-ice-trap, #player-attack-radius{
    align-self: baseline;
}

/* End Game */
#current-game-stats {
    font-size: small;
    justify-content: space-evenly;
}

.game-stats-box {
    box-sizing: border-box;
    border: 1vmin solid #f8b58b;
    border-radius: 2vmin;
    height: min-content;
}

.current-game-stats-box {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.current-game-stats-title {
    align-self: center;
    font-weight: bold; 
    font-size: 3vmin;
}

.game-stats-line {
}